 <footer>
 <footer>
  <h4>Use one of the links below to Reach out to us </h4>
    <div class="icons">
      <i class="fa fa-facebook">F</i>
      <i class="fa fa-twitter">T</i>
      <i class="fa fa-instgram">I</i>
      <i class="fa fa-whatsapp">W</i>
      <i class="fa fa-phone">P</i>
    </div>
   <p>&nbsp;Made by Jay</p>
  </footer>
 </footer>
