<html lang="en">

<%- include("./partials/header.ejs")  %>

 <body>

 <%- include("./partials/mainnav.ejs")  %>

  <section class="chops">
    <h1>Our Chops</h1>
    <p>Find below the chops that are currently available</p>


    <div class="row">

      <div class="sellers-col">
        <img src="images/banner.jpg" alt="cake">
        <div class="layer">
          <h3>CAKES</h3>
        </div>
      </div>

      <div class="sellers-col">
        <img src="images/banner.jpg" alt="Parfait">
        <div class="layer">
          <h3>DESSERTS</h3>
        </div>
      </div>

      <div class="sellers-col">
        <img src="images/banner.jpg" alt="Brownie">
        <div class="layer">
          <h3>COOKIES</h3>
        </div>
    </div>
    </div>
  </section>

  <section class="sellers">
    <h1>Best Sellers</h1>
    <p>Find Below our Best Sellers</p>

    <div class="row">

      <div class="sellers-col">
        <img src="images/banner.jpg" alt="cake">
        <div class="layer">
          <h3>Bento Cakes</h3>
        </div>
      </div>

      <div class="sellers-col">
        <img src="images/banner.jpg" alt="Parfait">
        <div class="layer">
          <h3>Swiss Rolls</h3>
        </div>
      </div>

      <div class="sellers-col">
        <img src="images/banner.jpg" alt="Brownie">
        <div class="layer">
          <h3>Chocolate Cookies</h3>
        </div>

      </div>

    </div>

  </section>

  <section class="reviews">
     <h1>Reviews</h1>
     <p>Words of wisdom from Kalbites fans</p>

     <div class="row">
       <div class="review-col">
        <div>
          <p>Lorem ipsum dolor sit amet, officia excepteur ex fugiat
          reprehenderit enim labore culpa sint ad nisi
          Lorem pariatur mollit ex esse exercitation amet.
          amet voluptate voluptate dolor minim nulla est proident.
          consectetur et est culpa et culpa duis.
          </p>
          <h3>Naruto Uzumaki</h3>
        </div>
      </div>

      <div class="review-col">
        <div>
          <p>Lorem ipsum dolor sit amet, officia excepteur ex fugiat
          reprehenderit enim labore culpa sint ad nisi
          Lorem pariatur mollit ex esse exercitation amet.
          amet voluptate voluptate dolor minim nulla est proident.
          consectetur et est culpa et culpa duis.
          </p>
          <h3>Eren Yeager</h3>
       </div>
      </div>

       <div class="review-col">
         <div>
          <p>Lorem ipsum dolor sit amet, officia excepteur ex fugiat
          reprehenderit enim labore culpa sint ad nisi
          Lorem pariatur mollit ex esse exercitation amet.
          amet voluptate voluptate dolor minim nulla est proident.
          consectetur et est culpa et culpa duis.
          </p>
          <h3>Kamobako Gonpachiro</h3>
         </div>
       </div>
    </div>
  </section>

<%- include("./partials/footer.ejs")  %>
</body>

</html>
