<!DOCTYPE>
<!DOCTYPE html>
<html lang="en">

<head>
  <title></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="main.css" rel="stylesheet">
</head>

<body>
  <div class="container">
    <div class="device">
      <div class="header">
        <div class="left-side">
          <h1>Hello, Guest 👋</h1>
          <span>Welcome to Kalbites.</span>
        </div>
        <div class="avatar"></div>
      </div>

      <!-- <div class="searchbox"> -->
      <!--   <input type="search" placeholder="Search by recipes" /> -->
      <!-- </div> -->

      <div class="videobox">
        <div class="wrapper">
          <!-- <button type="button" class="play"></button> -->
          <h3>ACCOUNT</h3>
        </div>
      </div>


      <div class="account">
        <div class="account-details">

          <h3>Account Name</h3>
          <h5>user.first user.last</h5>
          <h3>Account UserName</h3>
          <h5>user.userName</h5>


          <h3>Phone Number</h3>
          <h5>user.phone<h5>

              <h3>Registered Address</h3>
              <h5>user.address</h5>
        </div>

        <div class="prevorders">

        </div>
      </div>






      <ul class="filters">
        <li class="active"><a href="main.html">Home</a></li>
        <li><a href="chops.html">Chops</a></li>
        <li><a href="blog.html">Blog</a></li>
        <li><a href="account.html">Account</a></li>
      </ul>

      <!-- <div class="tabbar"> -->
      <!--   <button type="button" class="home active"><a href="main.html"></a>Home</button> -->
      <!--   <button type="button" class="lists">Chops</button> -->
      <!--   <button type="button" class="meal">Blog</button> -->
      <!--   <button type="button" class="settings">Account</button> -->
      <!-- </div> -->
    </div>
  </div>
</body>

</html>
