<!DOCTYPE html>

<%- include("./partials/header.ejs") %>

  <body>
    <div class="container">
      <div class="device">
        <%- include("./partials/greeting.ejs") %>


          <div class="videobox">
            <div class="wrapper">
              <!-- <button type="button" class="play"></button> -->
              <h3>What would you like to buy today?</h3>
            </div>
          </div>

          <a href="items/brownies">
            <div class="recipes">
              <div class="recipe first">

                <div class="wrapper">
                  <div class="recipe-header">
                  </div>
                  <div class="recipe-info">
                    <span>Brownies</span>
                  </div>
                </div>
              </div>
          </a>

          <a href="items/cakes">
            <div class="recipe second">
              <div class="wrapper">
                <div class="recipe-header">
                </div>
                <div class="recipe-info">
                  <span>Bento Cakes</span>
                </div>
              </div>
            </div>
          </a>

          <a href="items/brownies">
            <div class="recipe third">
              <div class="wrapper">
                <div class="recipe-header">
                </div>
                <div class="recipe-info">
                  <span>Cupcakes</span>
                </div>
              </div>
            </div>
          </a>

          <a href="items/milkcakes">
            <div class="recipe fourth">
              <div class="wrapper">
                <div class="recipe-header">
                </div>
                <div class="recipe-info">
                  <span>Milk Cakes<span>
                </div>
              </div>
            </div>
          </a>

          <a href="items/muffins">
            <div class="recipe fifth">
              <div class="wrapper">
                <div class="recipe-header">
                </div>
                <div class="recipe-info">
                  <span>Muffins</span>
                </div>
              </div>
            </div>
          </a>

          <a href="items/cakes">
            <div class="recipe sixth">
              <div class="wrapper">
                <div class="recipe-header">
                </div>
                <div class="recipe-info">
                  <span>Swiss Rolls</span>
                </div>
              </div>
            </div>
          </a>

      </div>
      │ <%- include("./partials/nav.ejs") %>
    </div>
    </div>
  </body>

  </html>
