*{
  margin: 0;
  padding: 0;
}


.header{
  min-height: 400px;
  width: 100%;
  background-color: grey;
  color: black;
  background-color: black, linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7));
  background-position: center;
  background-size: cover;
  position: relative;
}

nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}

nav h1{
  width: 150px;

}

.nav-links{
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li a{
  color: #fff;
  text-decoration: none;
  font-size: 13;
}

.nav-links ul li::after{
  content: '';
  width: 0%;
  height: 3px;
  background : gold;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-links ul li:hover::after{
  width: 100%;
}

.text-box {
  width: 90%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.text-box h1{
  font-size: 42px;
}

.text-box p {
  margin: 10px 0px 40px;
  font-size: 14px;
  color: #fff;
}

.hero-btn{
  display:inline-block;
  text-decoration: none;
  color: white;
  border: 2px solid gold;
  border-radius: 30px;
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor:pointer;
}

.hero-btn:hover{
  border: 1px solid white;
  background: gold;
  transition: 1s;
}

nav .fa{
  display:none;
}

@media(max-width: 700px){

.text-box{
    height: 100px;
  }
.text-box h1{
  font-size: 22px;
}
.text-box p {
  margin: 10px 0px 40px;
  font-size: 12px;
  color: #fff;
}

.hero-btn{
  border-radius: 30px;
  padding: 12px 2px;
  font-size: 11px;
    width: 50%;
}
.nav-links ul li{
    display: block;
  color: black;
}

.nav-links ul li a{
  color: black;
}

.nav-links {
  position: absolute;
    background: gold;
    height: 100lvh;
    width: 200px;
    top:0;
    right:-200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
}
.nav-links ul li::after{
  content: '';
  width: 0%;
  height: 2px;
  background : black;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-links ul li:hover::after{
  width: 100%;
}

  nav .fa{
    display: block;
    color: black;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
  }
  .nav-links ul{
    padding:  10px;
  } 
}




/*  chops  */
.chops{
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}
 h1{
  font-size: 36px;
  font-weight:600;
}

p{
  color: green;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}

.row{
  margin-top: 5%;
  display: flex;
  flex-direction:row;
  justify-content: space-between;
}

.col{
  flex-basis: 31%;
  background-color: gold;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s
}

.col:hover{
  box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}

h3{
  text-align: center;
  font-weight: 500;
  margin: 10px o;
}

@media(max-width: 700px){
   .row{
    flex-direction: column;
  }
}


/* BEST SELLERS */

.sellers{
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}


.sellers-col{
  flex-basis: 32%;
  border-radius: 10px;
  margin-bottom:30px;
  position: relative;
  overflow: hidden;
}

.sellers-col img{
  width: 100%;
 display:block; 
}

.layer{
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  transition: 0.5s;

}

.layer:hover{
   background-color: rgba(0,0,0,0.2);
}

.layer h3 {
  width: 100%;
  font-weight: 500;
  color: white;
  font-size: 25px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  transition: 0.5s;
  opacity:0;
}

.layer:hover h3{
  bottom: 49%;
  opacity:1;
}


/* Reviews */

.reviews{
  width: 80%;
  margin: auto;
  padding-top: 100px;
  text-align: center;

}

.review-col{
  flex-basis: 25%;
  justify-content: space-between;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: left;
  background: gold;
  padding: 25px;
  cursor: pointer;
  display:flex;
  transition:1s;
}

.review-col:hover{
  box-shadow: 5px 5px 20px 5px rgba(0,0,0,0.2);
}
.review-col p {
  padding:0;
}

.review-col h3 {
  margin-top: 15px;
  text-align:center;
}

footer{
  width: 100%;
  text-align: center;
  padding: 30px 0;
}

footer h4{
  margin-bottom: 25px;
    margin-top: 20px;
  font-family: 600;
}

.icons .fa{
  color: gold;
  margin: 0 13px;
  cursor: pinter;
  padding: 18px 0;
}

.content{
  margin-left: 20px;
}

.blogs{
  margin: auto;
  width: 80%;
}

.blogs a{
  display: block;
  padding: 20px;
  border-left: 5px solid gold;
  border-bottom: 3px solid gold;
  margin: 20px;
}
.blogs h2{
  margin: 20px;
  text-align: center;
}
.blogs h3{
  color: black;

  text-align: left;
}

.blogs a:hover h3 {
  color: gold;
}


.detail {
  width: 80%;
  margin-top: 35px;
  margin-left: auto;
 margin-right: auto;
  padding: 25px;
  background-color: blue;
}

.delete {
  positrion: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  padding: 8px;
}

.delete hover {
  cursor: pointer;
  box-shadow: 1px 2px 3px rgba(0,0,0,0.2)
}

.create-blog {
  width: 80%;
  margin: 0 auto;
}

.create-blog form{
  max-width: 400px;
  margin: 0 auto;
}

.create-blog input,
.create-blog textarea{
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 8px;
}

.create-blog label{
  display: block;
  margin-top: 24px;
}

textarea{
  height: 120px;
}

.create-blog button{
  margin-top: 20px;
  background: crimson;
  color: white;
  padding: 6px;
  border: 0;
  font-size: 1.2em;
  cursor: pointer;
}
