@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');


html,
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background-color: black;
}

* {
  box-sizing: border-box;
}

button,
input {
  font-family: "Poppins", sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  /* width:412px; */
  padding: 30px 0;
  background-color:whitesmoke;
}

.device {
  display: flex;
  flex-direction: column;
  width: 926px;
  height: 926px;
  /* box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.2); */
  border-radius: 30px;
  background-color: #0a1829; /* #1a1a1c; */
  color: gold;
}

.header {
  display: flex;
  align-items: center;
  padding: 40px 20px 20px;
}

.left-side {
  display: flex;
  flex-direction: column;
}

.left-side h1 {
  font-size: 20px;
  color:#feda6a;
  margin: 0 0 10px;
  padding: 0;
}

.left-side span {
  font-size: 14px;
  color: #959595;
}

.avatar {
  margin-left: auto;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: url() no-repeat center;
  background-size: cover;
}

.videobox {
  position: relative;
  width: calc(100% - 40px);
  height: 150px;
  background: url() no-repeat center;
  background-size: cover;
  margin: 20px 20px 10px;
  border-radius: 20px;
  overflow: hidden;
 }

.videobox .wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:#f6bc2b;
  color: #0a1829;

}


.filters {
  display: flex;
  justify-content: space-evenly;
  width: max-width;
  list-style-type: none;
  padding: 0 20px;
  margin: 20px 0 0;
  margin-bottom: 20px;
  white-space: nowrap;
  overflow: auto;
 
  }

.filters li a{
  color: #0a1829;
  text-decoration: none;
  padding: 3px;

}

.filters li {
  margin-right: 15px;
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 14px;
  background-color:#f6bc2b;
  color: #0a1829;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.filters li:last-child {
  margin-right: 0;
}


.filters li.active {
  background-color:#f6bc2b;
  color: #0a1829;
  font-weight: 600;
  cursor: default;
}


/* .filters li a.active { */
/*   background-color: blue; */
/*   color: black; */
/* } */

.recipes {
  padding: 20px 20px 0;
  height: 550px;
  overflow-y: auto;
}

.recipe {
  border-radius: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  margin-bottom: 20px;
}


.recipe.detail{
  height: 350px;
  width: 95%;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 15px;
  align-items: center;
  border-radius: 25px;
  border-color: gold;
}

.recipe.detail img{
  border-radius: 20px;
  background-color: black;
  width: 315px;
  height:275px; 
  align-items: center;
 }

.description {
  background-color:#0a1829;
  color: #f6bc2b;
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  gap: 55px;
  padding: 10px;
  padding-left: 30px;
  margin: auto;
  margin-top: 5px;
  align-items: center;
}


/* .price { */
/*   align-items: left; */
/*   /* background-color: yellow; */ */
/* } */

/* .info {  */
/*   align-items: right; */
/* /* background-color: red; */ */
/* } */


.account {
  border-radius: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 665px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  margin-bottom: 20px;
}

.account-details {
  display: flex;
  flex-direction: column;
  gap: 25px;
      align-items: center;
  padding: 55px;
}

.hey {
 text-align: center; 
  padding: 5px;
 }

.hey h3 {
  padding-bottom: 5px;
}

.recipe:hover .wrapper {
  background-color: rgba(0, 0, 0, 0.3);
}

.recipe .wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-out;
}

.recipe.first {
  background-image: url(images/muffins.jpg);
}

.recipe.second {
  background-image: url(images/bentocake.jpg);
}

.recipe.third {
  background-image: url(images/cupcakes.jpg);
}

.recipe.fourth {
  background-image: url(images/milkcake.jpg);
}

.recipe.fifth {
  background-image: url(images/muffins.jpg);
}

.recipe.sixth {
  background-image: url(images/swissrolls.jpg);
}

.recipe-header {
  display: flex;
  align-items: center;
  padding: 20px;
}

.recipe-header span {
  font-size: 14px;
  color: #ffffff;
}


.recipe-info {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  padding: 20px;
}

.recipe-info span {
  color: #ffffff;
  font-weight: 600;
  margin-bottom: 10px;
  font-size: 16px;
}


.content{
  margin-left: 20px;
  height: 555px;
  overflow-y: auto;
}

.blogs{
  margin: auto;
  height: 755px;
  width: 85%;
  padding: 11px;
}

.blogs a{
  display: block;
  padding: 20px;
  border-left: 5px solid gold;
  border-bottom: 3px solid gold;
  margin: 20px;
}
.blogs h2{
  margin: 20px;
  text-align: center;
}
.blogs h3{
  color:#f6bc2b;

  text-align: left;
}

.blogs a{
  text-decoration: none;
}

.blogs p {
  color: white;
}

.detail {
  width: 80%;
  margin-top: 35px;
  margin-left: auto;
  margin-right: auto;
  padding: 25px;
  background-color:#f6bc2b;
  color: #0a1829;
}


.creation{
  max-width: 80%;
  height:  755px;
  align-items: center;
  margin: auto;
  margin-top: 155px;
}

.create-blog {
  /* width: 80%; */
  margin: 0 auto;
}


.create-blog form{
  max-width: 400px;
  margin: 0 auto;
}

.create-blog input,
.create-blog textarea{
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 8px;
}

.create-blog label{
  display: block;
  margin-top: 24px;
}

textarea{
  height: 120px;
}

.create-blog button{
  margin-top: 20px;
  background: crimson;
  color: white;
  padding: 6px;
  border: 0;
  font-size: 1.2em;
  cursor: pointer;
}


.formcontainer{
  height: 655px;
  width: 88%;
  background-color:#f6bc2b;
  color: #0a1829;
  margin: auto;
  margin-bottom: 55px;
  border-radius: 20px;
  overflow-y: auto;
}

.forms-container {
  margin: auto;
  padding-top: 20px;
  width: 100%;
  height: 555px;
  top: 0;
  left: 0;
}

.error{
  background-color: white;
}

.signin-signup {
  top: 50%;
  left: 75%;
  display: grid;
  grid-template-columns: 1fr;
  z-index: 5;
}

.signin {
  padding-top: 95px;
}

.forms {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0rem 5rem;
  transition: all 0.2s 0.7s;
  overflow: hidden;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

form.sign-up-form {
  opacity: 0;
  z-index: 1;
}


.input-field {
  max-width: 380px;
  width: 100%;
  background-color: #0a1829;
  color: white;
  margin: 5px 0;
  height: 45px;
  border-radius: 55px;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0 0.2rem;
  position: relative;
}

.input-field i {
  text-align: center;
  line-height: 55px;
  color: white;
  transition: 0.5s;
  font-size: 0.9rem;
}

.input-field input {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 500;
  font-size: 0.9rem;
  color: #fff;
}

.input-field input::placeholder {
  color: #aaa;
  font-weight: 500;
  font-size: 0.9rem;
  /* text-align: center; */
}

.social-text {
  padding: 0.5rem 0;
  font-size: 0.8rem;
}

.social-media {
  display: flex;
  justify-content: center;
}

.social-icon {
  height: 46px;
  width: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.45rem;
  color: #333;
  border-radius: 50%;
  border: 1px solid #333;
  text-decoration: none;
  font-size: 1rem;
  transition: 0.3s;
 
}

.button {
  width: 150px;
  background-color: rgb(129, 132, 121) ;
  color:white;
  border: none;
  outline: none;
  height: 39px;
  border-radius: 49px;
  color: black;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.2rem;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;
}




* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

.paycontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    height: 500px;
    background: #0a1829;
}

.paycontainer form {
    padding: 20px;
    width: 400px;
    background: #f6bc2b;
  color: #0a1829;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
}

.paycontainer form .row {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.paycontainer form .row .col {
    flex: 1 1 250px;
}

.paycontainer form .row .col .title {
    font-size: 20px;
    color: #333;
    padding-bottom: 5px;
    text-transform: uppercase;
}

.paycontainer form .row .col .inputBox {
    margin: 15px 0;
 }

.paycontainer form .row .col .inputBox span {
    margin-bottom: 10px;
    display: block;
}

.paycontainer form .row .col .inputBox input {
    width: 100%;
    border: 1px solid #ccc;
    padding: 10px 15px;
    font-size: 15px;
    text-transform: none;
}

.paycontainer form .row .col .inputBox input:focus {
    border: 1px solid #000;
}

.inputBox{
  display: flex;
  justify-content: center ;
  padding:2px;
  gap: 5px;
}


.paycontainer form .row .col .flex {
    display: flex;
    gap: 15px;
}

.paycontainer form .row .col .flex .inputBox {
    margin-top: 5px;
}

.paycontainer form .row .col .inputBox img {
    height: 34px;
    margin-top: 5px;
    filter: drop-shadow(0 0 1px #000);
}

.paycontainer form .submit-btn {
    width: 100%;
    padding: 12px;
    font-size: 17px;
    background: #0078D7;
    color: #fff;
    margin-top: 5px;
    cursor: pointer;
}


.error{
  background-color: white;
  color: black;
}


.heading {
    text-align: center;
    margin-bottom: 2rem;
  }

  .heading span {
    color: #0078D7;
    font-size: 2rem;
  }

  .heading h1 {
    font-size: 4rem;
    color: #000;
  }

  .btn {
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1.7rem;
    color: #0078D7;
    border: 0.2rem solid #0078D7;
    border-radius: 5rem;
    cursor: pointer;
    background: none;
  }

  .btn:hover {
    background: #0078D7;
    color: #f8f9fc;
  }


  .logo {
    font-size: 2.5rem;
    color: #000;
    font-weight: bolder;
  }

  .logo span {
    color: #0078D7;
  }

  #menu-btn {
    font-size: 2.5rem;
    color: #000;
    cursor: pointer;
    display: none;
  }
.details{
 /* background-color:#f6bc2b; */
  color: #0a1829;
  width: 100%;
}
/* .ticket-system { */
/*   max-width: 385px; */
/* } */
.btn {
    margin-top: .3rem;
    margin-bottom: 1rem;
    display: inline-block;
    padding: .7rem 8rem;
    font-size: 1.8rem;
    color: #0078D7;
    border: 0.2rem solid #0078D7;
    border-radius: 5rem;
    cursor: pointer;
    background: #fff;
    text-decoration: none;
  }

  .btn:hover {
    background: #1a2cce;
    color: #f8f9fc;
  }
.fa-angle-right{
    font-size: 30px;
    color: #0078D7;
}
.ticket-system .top {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.ticket-system .top .title {
  font-weight: normal;
  font-size: 1.6em;
  text-align: left;
  margin-left: 20px;
  margin-bottom: 50px;
  color: #fff;
}
.ticket-system .top .printer {
  width: 90%;
  height: 20px;
  border: 5px solid #fff;
  border-radius: 10px;
  box-shadow: 1px 3px 3px 0px rgba(0, 0, 0, 0.2);
}
.ticket-system .receipts-wrapper {
  overflow: hidden;
  margin-top: -10px;
  padding-bottom: 10px;
}
.ticket-system .receipts {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  transform: translateY(-510px);
  animation-duration: 2.5s;
  animation-delay: 500ms;
  animation-name: print;
  animation-fill-mode: forwards;
}
.ticket-system .receipts .receipt {
  padding: 25px 30px;
  text-align: left;
  min-height: 200px;
  width: 88%;
  background-color: #fff;
  border-radius: 10px 10px 20px 20px;
  box-shadow: 1px 3px 8px 3px rgba(0, 0, 0, 0.2);
}
.ticket-system .receipts .receipt .airliner-logo {
  max-width: 80px;
}
.ticket-system .receipts .receipt .route {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0;
}
.ticket-system .receipts .receipt .route .plane-icon {
  width: 30px;
  height: 30px;
  transform: rotate(90deg);
}
.ticket-system .receipts .receipt .route h2 {
  font-weight: 300;
  font-size: 2.2em;
  margin: 0;
}
.ticket-system .receipts .receipt .details {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.ticket-system .receipts .receipt .details .item {
  display: flex;
  flex-direction: column;
  min-width: 70px;
}
.ticket-system .receipts .receipt .details .item span {
  font-size: 0.8em;
  color: rgba(28, 28, 28, 0.7);
  font-weight: 500;
}
.ticket-system .receipts .receipt .details .item h3 {
  margin-top: 10px;
  margin-bottom: 25px;
}
.ticket-system .receipts .receipt.qr-code {
  height: 110px;
  min-height: unset;
  position: relative;
  border-radius: 20px 20px 10px 10px;
  display: flex;
  align-items: center;
}
.ticket-system .receipts .receipt.qr-code::before {
  content: '';
  background: linear-gradient(to right, #f6bc2b 50%, #0078D7 50%);
  background-size: 22px 4px, 100% 4px;
  height: 4px;
  width: 90%;
  display: block;
  left: 0;
  right: 0;
  top: -1px;
  position: absolute;
  margin: auto;
}
.ticket-system .receipts .receipt.qr-code .qr {
  width: 80px;
  height: 80px;
}
.ticket-system .receipts .receipt.qr-code .description {
  margin-left: 20px;
}
.ticket-system .receipts .receipt.qr-code .description h2 {
  margin: 0 0 5px 0;
  font-weight: 500;
}
.ticket-system .receipts .receipt.qr-code .description p {
  margin: 0;
  font-weight: 400;
}
@keyframes print {
  0% {
    transform: translateY(-510px);
  }
  35% {
    transform: translateY(-395px);
  }
  70% {
    transform: translateY(-140px);
  }
  100% {
    transform: translateY(0);
  }
}
