<!DOCTYPE>
<!DOCTYPE html>
<html lang="en">

<%- include("../partials/header.ejs")  %>n.css" rel="stylesheet">
</head>

<body>
  <div class="container">
    <div class="device">
      <div class="header">
        <div class="left-side">
          <h1>Hello, Guest 👋</h1>
          <span>Welcome to Kalbites.</span>
        </div>
        <div class="avatar"></div>
      </div>

      <div class="recipes">
        <div class="recipe first">

          <div class="wrapper">
            <div class="recipe-header">
            </div>
            <div class="recipe-info">
              <span>Cakes</span>
            </div>
          </div>
        </div>

        <div class="recipe second">
          <div class="wrapper">
            <div class="recipe-header">
            </div>
            <div class="recipe-info">
              <span>Cookies</span>
            </div>
          </div>
        </div>

        <div class="recipe third">
          <div class="wrapper">
            <div class="recipe-header">
            </div>
            <div class="recipe-info">
              <span>Brownies</span>
            </div>
          </div>
        </div>

        <div class="recipe fourth">
          <div class="wrapper">
            <div class="recipe-header">
            </div>
            <div class="recipe-info">
              <span>Milk Cakes<span>
            </div>
          </div>
        </div>
        <div class="recipe fifth">
          <div class="wrapper">
            <div class="recipe-header">
            </div>
            <div class="recipe-info">
              <span>Cup Cakes</span>
            </div>
          </div>
        </div>

        <div class="recipe sixth">
          <div class="wrapper">
            <div class="recipe-header">
            </div>
            <div class="recipe-info">
              <span>Swiss Rolls</span>
            </div>
          </div>
        </div>

      </div>
      <%- include("../partials/nav.ejs")  %>    </div>
    </div>
  </div>
</body>

</html>
