<!DOCTYPE html>
<html lang="en">

<%- include("../partials/header.ejs") %>

  <body>

    <%- include("../partials/nav.ejs") %>

      </section>

      <section class="sellers">
        <h1>The Chops</h1>
        <p>Salivate over the entirety of our Menu......</br> ......then place an order.</p>

        <div class="row">

          <a href="cakes">
            <div class="sellers-col">
              <img src="images/banner.jpg" alt="Bento cake">
              <div class="layer">
                <h3>Bento Cakes</h3>
              </div>
            </div>
          </a>

          <a href="brownies">
            <div class="sellers-col">
              <img src="images/banner.jpg" alt="Brownie">
              <div class="layer">
                <h3>Brownies</h3>
              </div>
            </div>
          </a>

          <a href="muffins">
            <div class="sellers-col">
              <img src="images/banner.jpg" alt="Double chocolate muffins">
              <div class="layer">
                <h3>muffins</h3>
              </div>
            </div>
          </a>
        </div>

        <div class="row">

          <a href="Cookies">
            <div class="sellers-col">
              <img src="images/banner.jpg" alt="Cookies">
              <div class="layer">
                <h3>Chocolate Chip Cookies</h3>
              </div>
            </div>
          </a>

          <a href="cups">
            <div class="sellers-col">
              <img src="images/banner.jpg" alt="Cupcakes">
              <div class="layer">
                <h3>Cupcakes</h3>
              </div>
            </div>
          </a>

          <a href="rolls">
            <div class="sellers-col">
              <img src="images/banner.jpg" alt="rolls">
              <div class="layer">
                <h3>Swiss Rolls</h3>
              </div>
            </div>
          </a>
        </div>

      </section>

      <%- include("../partials/footer.ejs") %>
  </body>

</html>
